.body-page {
  display: grid;
  place-items: center;
}

.generated-password {
  width: fit-content;
  height: 80px;
  border: 1px solid #0096bfab;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  padding: 5px 20px;
  margin-bottom: 12px;
}

.container {
  display: flex;
  gap: 16px;
}

.pass-length {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.special-characters {
  display: flex;
  flex-direction: column;
}

.form-pass-generator {
  display: grid;
  place-items: center;
}

.password {
  word-break: break-word;
}